<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/posting.css')}}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/global.css')}}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/markdown.css')}}">

    {% block title %}
      <title>nChan</title>
    {% endblock %}

    {% block linkpanel %} 

    {% endblock %} 

  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">nChan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ eeininfo }}">eein.info</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Breadnet
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ breadnetUI }}">Breadnet UI</a></li>
              <li><a class="dropdown-item" href="{{ breadnetBackend }}">Breadnet Backend</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Boards
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('sprint')}}">/sp/ - Sprints</a></li>
              <li><a class="dropdown-item" href="{{url_for('research')}}">/rs/ - Research</a></li>
              <li><a class="dropdown-item" href="{{url_for('misc')}}">/ls/ - Lab Misc</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    {% block content %}
      <!--  BOARD TITLE AND DESCRIPTION   -->
      <figure class="page-head">
        <h1 id="labelName">Welcome to nChan</h1>
        <h3 id="labelDescription">A dynamic online lab notebook</h3>
        <p> This site is intended to be both an online lab notebook and a continuously evolving testbed for web-based projects I work on.
            For a more professional presentation of my finished projects, please visit eein.info. </p>
      </figure>

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>